{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="shadow p-3 mb-5 bg-white rounded">
      <h4 class="font-weight-bold text-md-left text-uppercase">Vos sources favorites</h4>
      <form action="/suppression_source_user">
        {% for source in sources_fav %}
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="src{{ source['id_s'] }}" name="src{{ source['id_s'] }}">
          <label class="custom-control-label" for="src{{ source['id_s'] }}">{{ source['nm_source'] }}</label>
          <small id="customCheck1" class="form-text text-muted">Supprimer cette source</small>
        </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Suppression des sources</button>
      </form>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <h4 class="font-weight-bold text-md-left text-uppercase">Sources disponibles à ajouter</h4>
          <form action="/new_source_dispo_user">
            {% for source in sources_dispo %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="src{{ source['id_s'] }}" name="src{{ source['id_s'] }}">
              <label class="custom-control-label" for="src{{ source['id_s'] }}">{{ source['nm_source'] }}</label>
              <small id="customCheck1" class="form-text text-muted">Ajouter cette source</small>
            </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">Ajout des sources</button>
          </form>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <h4 class="font-weight-bold text-md-left text-uppercase">Ajouter une source</h4>
          <form method="get">
            {% if erreur_flux == 1 %}
            <div class="form-group">
              <label for="url_flux">Lien url de votre flux</label>
              <input name="url_flux" class="form-control" type="text" placeholder="Entrez le flux de votre source">
              <small id="url_flux_help" class="form-text text-muted">Mention obligatoire</small>
            </div>
            {% elif erreur_flux == 2 %}
            <div class="form-group has-success">
              <label class="form-control-label" for="inputSuccess1">Lien url de votre flux</label>
              <input name="url_flux" id="inputValid" class="form-control is-valid" type="text" placeholder="Entrez une nouvelle url ?">
              <div class="valide-feedback text-success">Votre url est validée !</div>
            </div>
            {% elif erreur_flux == 3 %}
            <div class="form-group has-danger">
              <label class="form-control-label" for="inputDanger1">Lien url de votre flux</label>
              <input name="url_flux" id="inputInvalid" class="form-control is-invalid" type="text" placeholder="Essayez une autre ?">
              <div class="invalide-feedback text-danger">Désolé, votre url est invalide.</div>
            </div>
            {% endif %}
            <button type="submit" value="Create" class="btn btn-primary">Ajouter</button>
          </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}